<!--
  Generated template for the PromocionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	 <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promociones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="cargar" style="text-align: center">    
    <ion-spinner name="circles"></ion-spinner><br>
    <b>Cargando...</b>
  </div>

  <ion-list>
      <ion-item text-wrap *ngFor="let item of items; trackBy: index;" (click)="showImagen(item)">
          <a>{{item.city}}</a>
          <div>{{item.name}}</div>           
      </ion-item>
  </ion-list>

</ion-content>
