<!--
  Generated template for the EvenDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Evento</ion-title>
    <!-- <ion-buttons *ngIf="event.home" end>
      <button ion-button (click)="cancelar()">
        Cancelar
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button (click)="guardar()">
        Guardar
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>		 
    <ion-item>
      <ion-label color="primary" stacked>Titulo</ion-label>
      <ion-textarea rows="2" [(ngModel)]="event.title" [readonly]="!editable" placeholder="Ingrese una Titulo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Fecha Inicio</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.startTime" name="startTime" [disabled]="!editable"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Fecha Fin</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.endTime" name="endTime" [disabled]="!editable"></ion-datetime>
    </ion-item> 
    <ion-item>
      <ion-label color="primary" stacked>Descripción</ion-label>
      <ion-textarea rows="6" [(ngModel)]="event.description" [readonly]="!editable" placeholder="Ingrese una Descripción"></ion-textarea>
    </ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Ubicación</ion-label>
  		<ion-input type="text" [(ngModel)]="event.ubicacion" [readonly]="!editable" name="ubicacion"></ion-input>
		</ion-item>
		<ion-item *ngIf="(!editable)">
			<ion-label color="primary" stacked>Guia</ion-label>
  		<ion-input type="text" [(ngModel)]="event.guia" [readonly]="!editable" name="guia"></ion-input>
		</ion-item>    

	</ion-list>

  
  <div style="width: 100%; text-align: center;"><h4 *ngIf="event.estado_bol" ion-text color="{{event_color}}">{{event_estado}}</h4></div>

  <ion-segment *ngIf="(!event.home)" color="primary">
    <ion-segment-button value="friends" (ionSelect)="cancelar()">
      Cancelar
    </ion-segment-button>
    <ion-segment-button value="guardar" (ionSelect)="participar()">
      Participar en el Tour
    </ion-segment-button>
  </ion-segment>

 
  <ion-segment *ngIf="nuevo" color="primary">
    <ion-segment-button value="friends" (ionSelect)="cancelar()">
      Cancelar
    </ion-segment-button>
    <ion-segment-button value="guardar" (ionSelect)="guardar()">
      Guardar
    </ion-segment-button>
  </ion-segment>

  
</ion-content>

