<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mapas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="cargar" style="text-align: center">    
    <ion-spinner name="circles"></ion-spinner><br>
    <b>{{mensaje}}</b>
  </div>
  
  <ion-slides pager=true zoom="true">
    <ion-slide *ngFor="let item of items;">  

      <ion-card>

        <img [src]="item.mapa2" (click)="zoomImage(item)" alt="Sin mapa">

        <ion-item>
          <ion-icon name="pin" item-start large></ion-icon>
          <h1>{{item.name}}</h1>
        </ion-item>

      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
