<ion-content>  
   <form (ngSubmit)="this.conectarApp(true)">

    <div>{{mensaje}}</div>
    
    <div style="text-align: center">
        <img src="assets/imgs/icon.png" alt="ToursGratisRusia"/>                        
    </div> 

    <ion-list *ngIf="!cargar">
      <ion-item>
        <ion-label color="primary" stacked>Usuario</ion-label>
        <ion-input type="email"  [(ngModel)]="CONEXION.username" required name='username' placeholder="Ingresa Usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="CONEXION.password" required name='password'  placeholder="Ingresa Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block type="submit">Login</button>
      </ion-item>
      <div style="text-align: center">
        <a href="#" (click)="crearCuenta()">Solicitar Cuenta</a>    
      </div>
    </ion-list>
  </form>
  
  <div *ngIf="cargar" style="text-align: center">    
    <ion-spinner name="circles"></ion-spinner><br>
    <b>Verificando...</b>
  </div>
</ion-content>
