<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Eventos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        Nuevo
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="cargar" style="text-align: center">    
    <ion-spinner name="circles"></ion-spinner><br>
    <b>Cargando...</b>
  </div>
  <h3>{{viewTitle}}</h3>
  <calendar *ngIf="!cargar"
        [formatWeekTitle]="calendar.formatWeekTitle"
        [allDayLabel]="calendar.allDayLabel"
        [eventSource]="calendar.eventSource"
        [calendarMode]="calendar.mode"
        [locale]="calendar.locale"
        [currentDate]="calendar.currentDate"   
        [formatDayHeader]="calendar.formatDayHeader"            
        [formatMonthTitle]="calendar.formatMonthTitle"
        [noEventsLabel]="calendar.noEventsLabel"          
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        step="30">
  </calendar>

  <div>{{mensaje}}</div>

</ion-content>

<ion-footer>
  <!-- Segment buttons with text -->
  <ion-segment [(ngModel)]="calendar.mode" color="primary">
    <ion-segment-button (ionSelect)="today()">
      Hoy
    </ion-segment-button>
    <ion-segment-button (ionSelect)="changeMode('month')">
      Mes
    </ion-segment-button>
    <ion-segment-button (ionSelect)="changeMode('week')">
      Semana
    </ion-segment-button>
    <ion-segment-button (ionSelect)="changeMode('day')">
      Dia
    </ion-segment-button>
  </ion-segment>
</ion-footer>